BODY {
    background: #FFF4CC;
    color: #000B4C;
}

DIV.note {
    border: solid 0px #000B4C;
    border-left: solid 3px #000B4C;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}

DIV.heavy_note {
    border: solid 0px #000B4C;
    border-left: solid 3px #000B4C;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    margin-left: 15px;
}

H1 {
    text-align: center;
}